/* Written by Joseph Brown 1603488 for CE212 Assignment 1 */

input.distancebox {
	width: 50px;
}
tr.title {
	font-weight: bold;
	background-color: black;
	color: white;
}

td.arrow {
	cursor: pointer;
}

tr.odd {
	color: darkgray;
}