/* Written by Joseph Brown 1603488 for CE212 Assignment 1 */

textarea.commentsBox {
  resize: none;
}
td.title {
  text-align: center;
  color: red;
  font-weight: bold;
}
td {
  color:blue;
}
