/* Written by Joseph Brown 1603488 for CE212 Assignment 1 */

body {
	font-size: large
}
#outBox {
	text-align:center; width:70; background: #EEFFFF; border: solid;
    border-color: navy; padding: 1em; border-width: 1px;
    font-family:"Courier New"; font-size:80%
}
button {
	width:2.2em; font-weight:bold
}
	
button.operator.active {
	background-color:gray;
}

button.operator {
	background-color:darkgray;
}

button.equals {
	width: 4.7em;
	background-color: orange;
	color: white;
}

#clear {
	color: blue;
}